body, html{
    background-color: chocolate;
    width: auto;
    height: 100%;
    overflow-y: hidden;
}
.container{
    background-color: crimson;
    border: 6px solid rgb(110, 42, 199);
    margin: auto;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#day{
    display: block;
    font-size: xx-large;
}

#dtandtm{
    text-decoration: underline;
}